<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <configSections>

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestOfDarksky_Bence_Szalma.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <TestOfDarksky_Bence_Szalma.Properties.Settings>
      <setting name="Culture" serializeAs="String">
        <value>hu</value>
      </setting>
      <setting name="Unit" serializeAs="String">
        <value>SIUnit</value>
      </setting>
    </TestOfDarksky_Bence_Szalma.Properties.Settings>
  </userSettings>
 <appSettings>
    <add key="WeatherApiKey" value="ca566a21719534fadb21472f35f7c569"/>
  </appSettings>
</configuration>